[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
loguru = "*"
uvicorn = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
sqlalchemy = "*"
fastapi-jwt-auth = "*"
pydantic = {extras = ["dotenv"], version = "*"}
alembic = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
